body {
    background-color: #6CACE4;
}

h1 {
    text-align: center;

}

.afouteza {
    text-align: center;
    font-family: "Covered By Your Grace";
    font-size: 2.3em;
    color: black
}

ol {
    padding: 0%;
}

header ol>li {
    box-sizing: border-box;
    display: inline-block;
    width: 25%;
    height: 100%;
    padding: 15px;
    background-color: #00304d;
    color: rgb(255, 252, 252);
    text-align: center;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style: none;


}

header ol>li:hover {
    background-color: rgb(192 154 78);
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.historia {
    background-color: #6CACE4;
    text-align: justify;
    
}

.years {
    display: flex;
    width: 100%;
    color: black;
    text-align: center;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.his {
    text-align: center;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black



}

.videohis {
    text-align: center;
}

.videohistoria {
    padding: 10px;
    color: black;
    font-size: 1.8em;
    font-family: "Covered By Your Grace";



}

p {
    
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo {
    text-align: center;

}

footer {
    text-align: center;
    background-color: #00304d;
    padding-top: 25px;
    padding-bottom: 20px;
}
footer ol>li {
    box-sizing: border-box;
    display: inline-block;
    width: 24%;
    height: 100%;
    padding: 15px;
    background-color: #00304d;
    color: rgb(255, 252, 252);
    text-align: center;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style: none;
}
footer ol>li:hover {
    background-color: rgb(192 154 78);
    color: white;
}
.copy {
    color: rgb(192 154 78);
    margin-top: 50px;
    font-size: 1.2em;
}
@media (max-width: 480px) {
    nav ol {
        flex-direction: row;
        justify-content: space-around;
    }
}