body{
    background-color: rgb(168, 223, 255);
}
h1{
    text-align: center;
    
}
.afouteza{
    text-align: center;
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #00adfd, #fff, #06affd);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }

ol{
    padding: 0%;
}
li{
    display: inline-block;
    width: 25%;
    background-color: #4ebeff;
    color: rgb(255, 252, 252);
    text-align: center;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style: none;
    
    
}    
a{
    text-decoration: none;
    color: white;
}
.historia{
    background-color:rgb(168, 223, 255);
    text-align: justify;
}
.years{
  color:rgb(192 154 78);
  font-size: 20px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.his{
    text-align: center;
    font-size: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(192 154 78);
    
    
    
}
p{
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
.titulo{
    text-align: center;
    
}
footer{
    text-align: center;
    background-color:#4ebeff ;
}

